@model sqlexpressmvc.Models.UsedProducts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsedProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stock.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usedqty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usedqty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usedvolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usedvolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsedProductsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
